@page "/"
@inject IJSRuntime jsRuntime
@inject NavigationManager navigationManager

<PageTitle>Index</PageTitle>

<h1>Welcome to our Gas Station</h1>

@code {
    private bool isAuth { get; set; }

    protected override async Task OnInitializedAsync()
    {
        isAuth = Convert.ToBoolean(await jsRuntime.InvokeAsync<string>("localStorage.getItem", "isAuth"));
        if (!isAuth)
        {
            navigationManager.NavigateTo("/login");
        }
    }
}
